.feed {
  flex: 0.6;
  margin: 0 20px;
}
.feed_inputContainer {
  justify-content: space-evenly;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.feed_input {
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 10px;
  color: gray;
  display: flex;
  padding-left: 15px;
}
.feed_input > form {
  width: 100%;
}
.feed_input > form > input {
  border: none;

  flex: 1;
  width: 98%;
  margin-left: 10px;
  font-weight: 600;
  outline-width: 0;
}
.feed_input > form > button {
  display: none;
}
.feed_inputOption {
  display: flex;
  justify-content: space-evenly;
}
